<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689137445225-sk11vafj5mrtbrjk8oeu4lj1v963i291.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689137445225-sk11vafj5mrtbrjk8oeu4lj1v963i291</string>
	<key>API_KEY</key>
	<string>AIzaSyDsSFpKYF3EzdTIo63UnrEek3bhHbtlgkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>689137445225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-rnative-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-rnative-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689137445225:ios:18fcbe0baa4d18f38975f8</string>
</dict>
</plist>